<template>
  <v-app>
    <v-navigation-drawer app temporary v-model="navDrawer">
      <v-list nav>
        <v-list-item-group>
          <v-list-item to="/app/cycles">
            <v-list-item-title>Cycles</v-list-item-title>
          </v-list-item>
          <v-list-item to="/app/vendors">
            <v-list-item-title>Vendors</v-list-item-title>
          </v-list-item>
          <v-list-item to="/app/guides">
            <v-list-item-title>Guides</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app elevate-on-scroll>
      <v-app-bar-nav-icon class="d-md-none" @click="navDrawer = !navDrawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="mr-6">
        <v-btn to="/app/home" text class="toolbar-title">Sidearm</v-btn>
      </v-toolbar-title>
      <div class="d-none d-md-block">
        <v-btn class="ml-2" text to="/app/cycles">Cycles</v-btn>
        <v-btn class="ml-2" text to="/app/vendors">Vendors</v-btn>
        <v-btn class="ml-2" text to="/app/guides">Guides</v-btn>
        <v-menu offset-y class="ml-2" >
          <template v-slot:activator="{ on }">
            <v-btn class="ml-2" v-on="on">Dev
            <v-icon class="ml-2">mdi-chevron-down</v-icon>
            </v-btn>
          </template>
          <v-list dense>
            <v-list-item to="/app/dev/manifest">
              <v-list-item-content>Manifest</v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
      <v-spacer></v-spacer>
      <div v-if="!loading">
        <v-menu offset-y v-if="getAuth">
          <template v-slot:activator="{ on }">
            <v-btn class="mr-4 d-none d-md-inline-flex" v-on="on" width="200px" outlined>
              {{convertClassType(selectedChar.classType)}}
              <v-spacer></v-spacer>
              <span class="light-blue--text text--lighten-2">{{selectedChar.light}}</span>
              <v-icon class="mr-n2">mdi-chevron-down</v-icon>
            </v-btn>
          </template>
          <v-list dense>
            <v-list-item
              v-for="char in profiles.charOpts"
              :key="char.characterId"
              v-on:click="selectChar(char.characterId)"
              dense
            >
              <v-list-item-content>
                <div>
                  {{convertClassType(char.classType)}}
                  <span
                    class="light-blue--text text--lighten-2 float-right"
                  >{{char.light}}</span>
                </div>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
          <v-list dense>
            <v-menu offset-y v-if="getAuth" left offset-x>
              <template v-slot:activator="{ on }">
                <div class="d-md-none">
                  <v-list-item v-on="on">
                    <v-list-item-content class="flex-nowrap">
                      {{convertClassType(selectedChar.classType)}}<span
                        class="ml-2 light-blue--text text--lighten-2"
                      >{{selectedChar.light}}</span>
                    </v-list-item-content>
                    <v-list-item-action>
                      <v-icon class="mr-n2">mdi-chevron-down</v-icon>
                    </v-list-item-action>
                  </v-list-item>
                  <v-divider></v-divider>
                </div>
              </template>
              <v-list dense>
                <v-list-item
                  v-for="char in profiles.charOpts"
                  :key="char.characterId"
                  v-on:click="selectChar(char.characterId)"
                  dense
                >
                  <v-list-item-content>
                    <div>
                      {{convertClassType(char.classType)}}
                      <span
                        class="light-blue--text text--lighten-2 float-right"
                      >{{char.light}}</span>
                    </div>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-menu>
            <div v-if="!getAuth">
              <v-list-item dense to="/login">
                <v-list-item-content>Login</v-list-item-content>
              </v-list-item>
            </div>
            <div v-else-if="profiles.primaryProfile">
              <v-list-item dense>
                <v-list-item-avatar>
                  <v-img
                    class="cross-save"
                    src="https://www.bungie.net/7/ca//destiny/logos/crossSave.png"
                  ></v-img>
                </v-list-item-avatar>
                <v-list-item-content>{{profiles.profileOpts.find(prof => prof.membershipId == profiles.primaryProfile).LastSeenDisplayName}}</v-list-item-content>
              </v-list-item>
              <v-list-item v-on:click="logout()">
                <v-list-item-content>Log Out</v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
            </div>
            <div v-else>
              <v-list-item
                v-for="prof in profiles.profileOpts"
                :key="prof.membershipId"
                v-on:click="selectProfile(prof.membershipId)"
                dense
              >
                <v-list-item-avatar>
                  <v-img class="profileImage" :src="'https://www.bungie.net' + prof.iconPath"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>{{prof.LastSeenDisplayName}}</v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item v-on:click="logout()">
                <v-list-item-content>Log Out</v-list-item-content>
              </v-list-item>
            </div>
            <v-list-item>
              <v-list-item-content>
                <div>
                  <v-switch
                    class="options-switch"
                    v-model="$vuetify.theme.dark"
                    v-on:change="cacheTheme()"
                    label="Dark Theme"
                  ></v-switch>
                </div>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </v-app-bar>
    <v-content class="ma-0">
      <v-snackbar
        top
        absolute
        v-if="!loading"
        color="error"
        timeout="10000000"
        v-model="updateExists"
      >
        Update downloaded! Please refresh.
        <v-btn text @click="updateWorker">Update</v-btn>
      </v-snackbar>
      <router-view v-if="!loading"></router-view>
      <v-progress-circular v-else indeterminate></v-progress-circular>
    </v-content>
    <v-snackbar v-if="getError" multi-line color="error" timeout="10000000" v-model="getError">
      {{getError.message}}
      <v-btn text @click="refresh">Refresh</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
export default {
  name: "MainApp",
  data: () => {
    return {
      loading: true,
      profiles: undefined,
      navDrawer: false,
      refreshing: false,
      updateReg: undefined,
      updateExists: false
    };
  },
  created() {
    document.addEventListener("swUpdated", this.showUpdate, { once: true });

    navigator.serviceWorker.addEventListener("controllerchange", () => {
      if (this.refreshing) return;
      this.refreshing = true;
      window.location.reload();
    });
  },
  mounted() {
    let darktheme = localStorage.getItem("darktheme");
    this.$vuetify.theme.dark = JSON.parse(darktheme);

    this.$store.dispatch("initAuth").then(async () => {
      this.profiles = (
        await Promise.all([
          this.$store.dispatch("initProfiles"),
          this.$store.dispatch("updateManifest")
        ])
      )[0];
      if (this.getAuth) {
        setInterval(() => {
          this.$store.dispatch("refreshAuth");
        }, 60000);
      }
      this.loading = false;
    });
  },
  computed: {
    selectedChar() {
      return this.profiles.charOpts.find(
        char => char.characterId == this.$store.state.char
      );
    },
    getProfile() {
      return this.$store.state.profile;
    },
    getAuth() {
      return this.$store.state.auth;
    },
    getError() {
      return this.$store.state.error;
    }
  },
  methods: {
    selectChar(char) {
      this.$store.commit("setChar", char);
    },
    selectProfile(prof) {
      this.loading = true;
      let profileApi = this.profiles.profileOpts.find(
        profOpt => profOpt.membershipId == prof
      );
      let newProf = {
        membershipId: profileApi.membershipId,
        membershipType: profileApi.membershipType
      };
      this.$store.dispatch("updateProf", newProf).then(newChars => {
        this.profiles.charOpts = newChars;
        this.loading = false;
      });
    },
    logout() {
      this.$store.commit("logout");
      this.$router.go();
    },
    refresh() {
      this.$router.go();
    },
    updateWorker() {
      this.updateExists = false;

      if (!this.updateReg || !this.updateReg.waiting) {
        return;
      }
      this.updateReg.waiting.postMessage("skipWaiting");
    },
    convertClassType(classType) {
      if (classType == 2) {
        return "Warlock";
      } else if (classType == 1) {
        return "Hunter";
      } else {
        return "Titan";
      }
    },
    cacheTheme() {
      localStorage.setItem("darktheme", this.$vuetify.theme.dark);
    },
    showUpdate(e) {
      this.updateReg = e.detail;
      this.updateExists = true;
    }
  }
};
</script>

<style scoped>
.profileImage {
  background-color: black;
}

.cross-save {
  filter: invert(1);
}

.toolbar-title {
  color: inherit;
  text-decoration: inherit;
}
</style>
