<template>
  <p style="font-size:12px" v-html="manifest"></p>
</template>

<script>
import Axios from "axios";

export default {
  name: 'Manifest',

  data() {
    return {
      manifest: undefined, //this.$store.state.manifest,
      link: undefined,
      pageBaseUrl: "/app/dev/manifest/",
      startingBungieUrl: "Platform/Destiny2/Manifest/",
      bungieBaseUrl: "https://www.bungie.net/",
      forceUpdate:0,
    }
  },

  mounted() {
    this.init(this.$route.params.link);
  },

  beforeRouteUpdate(to) {
    this.init(to.params.link);
  },

  methods: {
    init(link) {
      this.link = link;
      if (this.link === undefined){
        this.link = this.startingBungieUrl;
      }
      Axios.get(this.getBungieLink(this.link))
      .then(resps => {
        this.manifest = this.linkify(resps.data);
      })
      .catch(error => {
        console.log(error);
      });
    },

    linkify(text) {
      var ret = JSON.stringify(text, null, 2).replace(/"\/?common.*?"/g, (match) => {
        match = match.slice(1, -1);
        if (match.match(/\.(jpeg|jpg|gif|png)$/) != null) {
          // Link is an image.
          var imgLink = this.bungieBaseUrl + match;
          return `<a href=${imgLink} target="_blank">`+
                  `<img src=${imgLink} alt=${match}>`+
                  `</a>`;
        }
        else if (match.match(/\.json/) != null) {
          // Json files.
          var hrefLink = this.pageBaseUrl + match;
          return `<a href=${hrefLink}>${match}</a>`;
        }
        else {
          return match;
        }
      });
      // Add prettify tags for json.
      ret = "<pre>" + ret + "</pre>";
      return ret;
    },

    getBungieLink(path) {
      return this.bungieBaseUrl + path;
    },
  }
}
</script>
