<template>
  <p>Redirecting...</p>
</template>

<script>
export default {
  name: "Redirect",
  beforeRouteEnter(to, from, next) {
    next(vm => {
      console.log(to.query.code);
      vm.$store.dispatch("createAuth", to.query.code).then(() => {
        vm.$router.push("/app");
      });
    });
  }
};
</script>
